@use 'mixins';

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 6rem;
    @include mixins.clamp-fs;

    @include mixins.breakpoint-down (mobile){
        display: grid;
        place-content: center;
        margin-block-start: 0;
    }

    &__header{
        text-align: center;
        margin-block-end: 2rem;
        font-size: 1.875rem;
    }

    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        @include mixins.breakpoint-down (mobile){
            display: flex;
            justify-content: center;
        }

        &__info__email,
        &__info__whatsapp{
            display: flex;
            align-items: center;
            gap: 1rem;

            img{
                width: 40px;
                height: 40px;
            }

            @include mixins.breakpoint-down (mobile){
                display: flex;

                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }

        &__info__images{

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            h3{
                font-size: 1.188rem;
            }
            &__icons{
                img{
                    width: 100px;
                    height: 100px;
                }

                .angular{
                    width: 150px;
                    height: 100px;
                }
            }

            @include mixins.breakpoint-down (mobile){
                display: flex;
                flex-direction: column;

                img{
                    width: 50px;
                    height: 50px;
                }

                .angular{
                    width: 100px;
                    height: 50px;
                }
            }
        }
    }
}