@use 'mixins';

.other__projects{
    margin-block-end: 100px;
    @include mixins.clamp-fs;

    @include mixins.breakpoint-down (mobile){
        @include mixins.fc;
    }

    @include mixins.breakpoint-between (mobile, tablet){
        @include mixins.fc;
        padding: 0 2rem;
    }

    @include mixins.landscape-mobile{
        @include mixins.fc;
        padding: 0 2rem;
    }

    h2{
        text-align: center;
        margin-block-end: 2rem;
    }

    &__article{
        display: flex;
        justify-content: center;
    }

    article{
        text-align: center;
        line-height: 1.65;
        font-family: var(--Poppins-font);
        
        p{
            max-inline-size: 66ch;
            font-size: 1.188rem;
        }
    }
}

.desings{
    display: flex;
    justify-content: center;
    gap: 3rem;
    @include mixins.clamp-fs;

    @include mixins.breakpoint-down (mobile){
        @include mixins.fc;
    }

    @include mixins.breakpoint-between (mobile, tablet){
        @include mixins.fc;
    }

    @include mixins.landscape-mobile{
        @include mixins.fc;
    }

    &__content{
        @include mixins.fc;
        gap: 2rem;

        @include mixins.breakpoint-down (mobile){
            gap: 1rem;

            h3{
                text-align: center;
            }
        }

        @include mixins.breakpoint-between (mobile, tablet){
            gap: 1rem;
        }

        img{
            max-width: 500px;
            border-radius: 20px;

            @include mixins.breakpoint-between (mobile, tablet){
                max-width: 700px;
            }

            @include mixins.landscape-mobile{
                max-width: 800px;
            }
        }
        
        &__proof{
            display: flex;
            align-items: center;
            gap: 1rem;

            img{
                width: 50px;
                height: 50px;
            }

            @include mixins.breakpoint-down (mobile){
                justify-content: center;
            }
        }
    }
}