@use 'mixins';

.projects {
    margin: 0 1rem;
    @include mixins.clamp-fs;

    @include mixins.breakpoint-down (mobile){
        @include mixins.fc;
    }

    @include mixins.landscape-mobile{
        @include mixins.fc;
    }
    
    h2 {
        margin-bottom: 4rem;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin-block-end: 4rem;

        @include mixins.breakpoint-down (mobile){
            @include mixins.fc;
        }

        @include mixins.breakpoint-between (mobile, tablet){
            @include mixins.fc;
        }

        @include mixins.landscape-mobile{
            @include mixins.fc;
        }

        &__images {
            @include mixins.fc;
            gap: 1rem;

            img {
                display: block;
                max-width: 500px;
                height: auto;
                border-radius: 20px;

                @include mixins.breakpoint-down (mobile){
                    max-width: 350px;
                }

                @include mixins.breakpoint-between (mobile, tablet){
                    max-width: 700px;
                }

                @include mixins.landscape-mobile{
                    max-width: 800px;
                }
            }
        }

        &__description{
            @include mixins.breakpoint-down (mobile){
                h3, article, a{
                    text-align: center;
                }
            }

            @include mixins.breakpoint-between (mobile, tablet){
                padding: 0 2rem;
            }

            @include mixins.landscape-mobile{
                padding: 0 2rem;
            }
        }
    }

    article{
        line-height: 1.65;
        font-family: var(--Poppins-font);

        p{
            font-size: 1.188rem;
            max-inline-size: 66ch;
        }

        img{
            width: 50px;
            height: 50px;
        }
    }

}