<section id="about">
    <div class="personal">
        <div class="personal__description">
            <h2>Andrés Orellana</h2>
            <article>
                <p>Desarrollador web especializado en TypeScript y Angular, centrado en la creación de aplicaciones modernas y escalables.
                    Actualmente estoy construyendo una aplicación SaaS con React y Next.js, donde trabajo tanto frontend como backend,
                    gestionando autenticación, bases de datos y arquitectura de la aplicación.
                </p>
            </article>
            <a class="btn-cv" href="../assets/images/Currículum.pdf" download rel="noopener noreferrer">Descargar CV</a>
        </div>
    </div>
    <div class="myself">
        <img class="myself__img" src="../assets/images/foto.jpg" alt="photo">
    </div>
</section>