<section id="about">
    <div class="personal">
        <div class="personal__description">
            <h2>Andrés Orellana</h2>
            <article>
                <p>Desarrollador Full-Stack, apasionado por convertir ideas en realidad
                    mediante soluciones eficientes y centradas en el usuario.</p>
            </article>
            <a class="btn-cv" href="../assets/images/Currículum.pdf" download rel="noopener noreferrer">Descargar CV</a>
        </div>
    </div>
    <div class="myself">
        <img class="myself__img" src="../assets/images/foto.jpg" alt="photo">
    </div>
</section>