<nav class="nav__container">
  <div class="nav__container__box" [class.open]="menuActive">
    <a class="nav__container__box__item" (click)="scrollToSection('about')">
      <span>Sobre mí</span>
    </a>
    <a class="nav__container__box__item" (click)="scrollToSection('projects')">
      <span>Proyectos</span>
    </a>
    <a class="nav__container__box__item" (click)="scrollToSection('contact')">
      <span>Contacto</span>
    </a>
  </div>
  <div class="nav__container__toggle" (click)="toggleButton()">
    <img [src]="menuIcon" alt="more icon">
  </div>
</nav>