@use '../styles/variables' as *;
@use '../styles/mixins' as *;

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5rem 5%;
    background: linear-gradient(to bottom,
            #040a05 0%,
            #031219 50%,
            #051c25 100%);

    @include breakpoint-down (mobile) {
        padding: 5rem 0;
    }

    h2 {
        color: white;
        font-size: 2.5rem;
        font-family: var(--Montserrat-font);
    }

    .projects__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 450px));
        gap: 3rem;

        @include breakpoint-down (mobile) {
            display: flex;
            flex-direction: column;
        }

        @include breakpoint-down (tablet) {
            display: flex;
            flex-direction: column;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            background: $background;
            border-radius: 1rem;
            border: 1px solid $borderColor;
            box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.3);
            transition: all 0.5s ease-in;

            &:hover {
                box-shadow: 0 10px 30px $cian;
            }

            &__image {
                width: 100%;
                height: 400px;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1rem 1rem 0 0;
                }

            }

            &__description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 2rem;
                padding: 2rem;
                flex-grow: 1;

                h3 {
                    color: white;
                    font-size: 1.25rem;
                    font-family: var(--Montserrat-font);
                }

                article {
                    font-family: var(--Poppins-font);
                }

                p {
                    color: $textForeground;
                    max-inline-size: 66ch;
                    line-height: 1.625;
                }

                button {
                    background-color: $borderColor;
                    color: white;
                    padding: 1rem;
                    border-radius: 8px;
                    border: none;
                    width: 100%;
                    cursor: pointer;
                    letter-spacing: 1px;
                    font-family: var(--Poppins-font);
                    white-space: nowrap;

                    &:hover {
                        color: black;
                        background-color: $whiteCian;
                    }
                }
            }

            &__languages {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                color: white;
                font-family: var(--Poppins-font);

                span {
                    padding: 0.3rem;
                    border: 1px solid $cian;
                    border-radius: 1rem;
                    color: $primary;
                    font-size: 0.875rem;
                    line-height: 1rem;
                    background-color: rgba(6, 182, 212, 0.2);
                }
            }
        }
    }
}