<section id="projects">
  <h2>Mis proyectos</h2>
  <div class="projects__grid">
    <div class="card">
      <div class="card__image">
        <img src="../assets/images/audio.jpg" alt="audiophile project">
      </div>
      <div class="card__description">
        <h3>Audiophile</h3>
        <article>
          <p>
            Plataforma de venta de productos de audio con un diseño moderno y centrado en el usuario.
            Permite explorar los productos en detalle, así como iniciar un proceso de compra con validación de datos en
            tiempo real.
          </p>
          <!-- <p>Prueba la aplicación aquí:</p>
          <a href="https://audiophile-olive-three.vercel.app/home" target="_blank" rel="noopener noreferrer">
            <img src="../assets/images/enlace.png" alt="Icono de enlace">
          </a> -->
        </article>
        <div class="card__languages">
          <span>TypeScript</span>
          <span>Sass</span>
          <span>Angular</span>
        </div>
        <a href="https://audiophile-olive-three.vercel.app/home" target="_blank" rel="noopener noreferrer">
          <button type="button">Probar aplicación</button>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card__image">e">
        <img src="../assets/images/Imagen1.jpg" alt="a project image">
      </div>
      <div class="card__description">
        <h3>Mobile Commerce</h3>
        <article>
          <p>Web app que consume una API REST, permitiendo a los usuarios buscar dispositivos, ver sus descripciones y
            realizar compras online de forma segura utilizando Stripe para el procesamiento de pagos.</p>
        </article>
        <div class="card__languages">
          <span>Stripe</span>
          <span>TypeScript</span>
          <span>Sass</span>
          <span>Node.js</span>
          <span>Express</span>
          <span>PostgreSql</span>
          <span>Angular</span>
        </div>
        <a href="https://ecommerce-gray-one-39.vercel.app//" target="_blank" rel="noopener noreferrer">
          <button type="button">Probar aplicación</button>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img src="../assets/images/step2.jpg" alt="step2 image">
      </div>
      <div class="card__description">
        <h3>Multi-step-form</h3>
        <article>
          <p>Aplicación web con un formulario multistep interactivo, diseñado para guiar a los usuarios a través de un
            proceso estructurado de manera
            intuitiva y eficiente.</p>
          <!-- <a href="https://steps-rosy-eight.vercel.app/" target="_blank" rel="noopener noreferrer">
            <img src="../assets/images/enlace.png" alt="Icono de enlace">
          </a> -->
        </article>
        <div class="card__languages">
          <span>TypeScript</span>
          <span>Sass</span>
          <span>Angular</span>
        </div>
        <a href="https://steps-rosy-eight.vercel.app/" target="_blank" rel="noopener noreferrer">
          <button type="button">Probar aplicación</button>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img src="../assets/images/tip1.jpg" alt="tip image">
      </div>
      <div class="card__description">
        <h3>Tip Calculator</h3>
        <article>
          <p>Aplicación para validar correctamente datos numéricos y calcular propinas. Muestra mensajes de error.</p>
          <!-- <a href="https://tip-calculator-kappa-lime.vercel.app/" target="_blank" rel="noopener noreferrer">
            <img src="../assets/images/enlace.png" alt="Icono de enlace">
          </a> -->
        </article>
        <div class="card__languages">
          <span>JavaScript</span>
          <span>Sass</span>
        </div>
        <a href="https://tip-calculator-kappa-lime.vercel.app/" target="_blank" rel="noopener noreferrer">
          <button type="button">Probar aplicación</button>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img src="../assets/images/loop1.jpg" alt="loop image">
      </div>
      <div class="card__description">
        <h3>Loop Studio</h3>
        <article>
          <p>Página web de marketing para una empresa ficticia de realidad virtual.</p>
        </article>
        <div class="card__languages">
          <span>JavaScript</span>
          <span>Sass</span>
        </div>
        <a href="https://loop-studio-beta.vercel.app/" target="_blank" rel="noopener noreferrer">
          <button type="button">Probar aplicación</button>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img src="../assets/images/room1.jpg" alt="image of a room style">
      </div>
      <div class="card__description">
        <h3>Room Homepage</h3>
        <article>
          <p>Proyecto de una página de comercio electrónico adaptable para una empresa de muebles, imitando el diseño proporcionado.</p>
        </article>
        <div class="card__languages">
          <span>JavaScript</span>
          <span>Sass</span>
        </div>
        <a href="https://room-homepage-flame-kappa.vercel.app/#" target="_blank" rel="noopener noreferrer">
          <button type="button">Probar aplicación</button>
        </a>
      </div>
    </div>
  </div>
</section>