@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use '../styles/animations' as *;

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 5rem 0;
    background: linear-gradient(to bottom,
            #040a05 0%,
            #031219 50%,
            #051c25 100%);

    @include breakpoint-down (mobile) {
        justify-content: center;
    }

    h2,
    h3,
    p,
    label {
        color: white;
    }

    h2 {
        font-size: clamp(1rem, 0.75rem + 3vw, 2.5rem);
        font-family: var(--Montserrat-font);
    }

    h3,
    p,
    label {
        font-family: var(--Poppins-font);
    }

    .contact__body {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 550px));
        gap: 3rem;

        @include breakpoint-down (mobile) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @include breakpoint-down (tablet) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
        }

        h3 {
            letter-spacing: 2px;
        }

        &__card {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include breakpoint-down (mobile) {
                justify-content: center;
                align-items: center;
            }

            .form,
            .card__information {
                background-color: $background;
                border-radius: 1rem;
                border: 1px solid $borderColor;
                box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.3);
                transition: all 0.7s ease-in;
                padding: 2rem;

                &:hover {
                    transform: translateY(-7px);
                    box-shadow: 0 10px 25px $cian;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;

                .box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .error {
                        color: $primary;
                        font-family: var(--Poppins-font);
                    }

                    .shake {
                        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
                    }
                }

                label {
                    letter-spacing: 1px;
                }

                input,
                textarea {
                    padding: 1rem;
                    border-radius: 12px;
                    background-color: $background;
                    opacity: .9;
                    font-size: 1rem;
                    color: white;
                }

                textarea {
                    resize: none;
                    height: 150px;
                    border: 1px solid $primary;
                    caret-color: $primary;

                    &:focus {
                        transition: .2s ease-in;
                        outline: none;
                        box-shadow: none;
                    }
                }

                button {
                    cursor: pointer;
                    background: linear-gradient(to right,
                            $cian 0%,
                            #4ca3cc 50%,
                            $whiteCian 100%);
                    border-radius: 4px;
                    padding: 1rem;
                    font-size: 1.125rem;
                    font-family: var(--Poppins-font);
                    border: 0.015rem solid $cian;
                }
            }

            .card__information {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 3rem;

                img {
                    width: 50px;
                    height: 50px;
                }

                &__email,
                &__phone {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    &-deep {
                        display: flex;
                        flex-direction: column;
                        overflow-wrap: anywhere;

                        p {
                            cursor: pointer;
                            -webkit-tap-highlight-color: transparent;
                            font-size: clamp(1rem, 0.75rem + 1vw, 1.125rem);

                            &:hover {
                                color: $primary;
                            }
                        }

                        p:first-child {
                            font-size: 1rem;
                            color: $textForeground;
                        }
                    }
                }
            }
        }
    }
}

::placeholder {
    color: $textForeground;
    /*Firefox*/
}

::-ms-input-placeholder {
    /* Edge 12-18 */
    color: red;
}

input:not([type="radio"]):not([type="checkbox"]) {
    caret-color: $primary;
    border: 1px solid $primary;

    &:focus {
        transition: .2s ease-in;
        outline: none;
        box-shadow: none;
    }
}