/*
Otra forma de hacer que ocupe todo el alto y ancho de pantalla
es definir propiedades de 100 vh para el height y 100 vw para el width
*/
@use './styles/theming';
@use './styles/about-me';
@use './styles/frameworks';
@use './styles/mixins' as *;
@use './styles/contact';
@use './styles/projects';
@use './styles/desings';
@use './styles/variables' as *;

.header__container {
    background: linear-gradient(to bottom,
            #040a05 0%,
            #031219 50%,
            #051c25 100%);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15rem;
    height: 4.7rem;
    transition: transform 0.4s ease-in-out;

    @include breakpoint-down (mobile) {
        padding-right: 2rem;
    }

    @include landscape-mobile {
        padding-right: 2rem;
    }

    @include breakpoint-down (tablet) {
        padding-right: 2rem;
    }

    &:hover {
        border-bottom: .111px solid $cian;
        transform: translateY(-5px);
        box-shadow: 0 3px 12px rgba($whiteCian, 0.35);
        transition: all 0.5s ease-in-out;

        @include breakpoint-down (mobile) {
            transform: none;
            transition: none;
            border-bottom: none;
            box-shadow: none;
        }

        @include breakpoint-down (tablet) {
            transform: none;
            transition: none;
            border-bottom: none;
            box-shadow: none;
        }
    }
}

.main__container {
    padding-top: 15rem;
    background: linear-gradient(to bottom,
            #040a05 0%,
            #031219 50%,
            #051c25 100%);

    @include breakpoint-down (mobile) {
        padding: 10rem 2rem 0 2rem;
    }
}

.footer__container {

    @include breakpoint-down (mobile) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    background: linear-gradient(to bottom,
        #040a05 0%,
        #031219 50%,
        #051c25 100%);

    p {
        color: $textForeground;
        font-family: var(--Poppins-font);
    }
}

.content {
    overflow-y: auto;
    color: black;
    padding: 10px;
    padding: 4rem 0;

    @include breakpoint-down (mobile) {
        @include fc;
        overflow-y: auto;
        padding: 1rem;
    }
}

h2 {
    font-family: var(--Montserrat-font);
}

h3 {
    margin: 30px 0;
    font-family: var(--Montserrat-font);
}

.es {
    color: #333;
}

.en {
    color: #00a1ff;
}

.check {
    position: relative;
    width: 50px;
}

.check::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked::after {
    left: 25px;
    border: 2px solid #00a1ff;
}

.check:checked::before {
    background: #00a1ff;
}