<div class="content">
  <div class="theming">
    <img src="../assets/images/dark.png" alt="background color mode" id="theme-icon" (click)="toggleTheme()">
  </div>
  <div class="personal">
    <div class="personal__description">
      <p>Hola, <img src="../assets/images/wave.png" alt="a hand wave"> soy</p>
      <h2>Andrés Orellana</h2>
      <article>
        <p>Desarrollador full stack, buscando siempre la innovación.</p>
      </article>
      <a class="btn-cv" href="../assets/images/Currículum.pdf" download rel="noopener noreferrer">Descargar
        <span>CV</span></a>
    </div>
  </div>
  <div class="myself">
    <img class="myself__img" src="../assets/images/foto.jpg" alt="photo">
    <div class="myself__description">
      <p>Quién soy</p>
      <h2>Sobre mí</h2>
      <article>
        <p>Soy una persona autodidacta, responsable y comprometida con mi trabajo.
          Estoy constantemente aprendiendo nuevas tecnologías y herramientas
          para mejorar mis habilidades. Debajo puede ver mis habilidades y tecnologías que uso.
          No dude en ponerse en contacto conmigo si tiene alguna pregunta.</p>
      </article>
    </div>
  </div>
  <div class="frameworks">
    <div class="frameworks__content">
      <div class="frameworks__content__tecnologies">
        <div class="frameworks__content__tecnologies__backend">
          <img src="../assets/images/backend.png" alt="a gourgeous backend image">
          <h3>Backend</h3>
          <div class="frameworks__content__tecnologies__backend__languages">
            <div>Java</div>
            <div>NodeJS</div>
            <div>PostgreSql</div>
            <div>TypeORM</div>
          </div>
        </div>
        <div class="frameworks__content__tecnologies__frontend">
          <img src="../assets/images/frontend.png" alt="a beautiful frontend image">
          <h3>Frontend</h3>
          <div class="frameworks__content__tecnologies__frontend__languages">
            <div>Html5</div>
            <div>Css3</div>
            <div>Angular</div>
            <div>TypeScript</div>
            <div>Sass</div>
          </div>
        </div>
      </div>
      <div class="frameworks__content__tools">
        <div class="frameworks__content__tools__config">
          <img src="../assets/images/tools.png" alt="an image of a tool">
          <h3>Herramientas</h3>
          <div class="frameworks__content__tools__config__languages">
            <div>GitHub</div>
            <div>PrimeNg</div>
            <div>Npm</div>
            <div>ThunderClient</div>
            <div>Stripe</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projects">
    <h2>Mis proyectos</h2>
    <div class="projects__content">
      <div class="projects__content__images">
        <img src="../assets/images/Imagen3.jpg" alt="a project image">
        <img src="../assets/images/Imagen1.jpg" alt="a project image">
      </div>
      <div class="projects__content__description">
        <h3>Mobile Commerce</h3>
        <article>
          <p>Web app que consume una API REST, permitiendo a los usuarios buscar dispositivos, ver sus descripciones y
            realizar compras online de forma segura utilizando Stripe para el procesamiento de pagos.
            Adicionalmente se generan estadísticas en cada proceso de compra.</p>
        </article>
      </div>
    </div>
    <div class="projects__content">
      <div class="projects__content__images">
        <div>
          <img src="../assets/images/step2.jpg" alt="step2 image">
        </div>
      </div>
      <div class="projects__content__description">
        <h3>Multi-step-form</h3>
        <article>
          <p>Aplicación web con un formulario multistep interactivo, diseñado para guiar a los usuarios a través de un
            proceso estructurado de manera
            intuitiva y eficiente.</p>
          <p>Prueba la aplicación aquí:</p>
          <a href="https://steps-rosy-eight.vercel.app/" target="_blank" rel="noopener noreferrer">
            <img src="../assets/images/enlace.png" alt="Icono de enlace">
          </a>
          <a href="https://github.com/AndresOreVel/steps" target="_blank" rel="noopener noreferrer">
            <img src="../assets/images/github.png" alt="git hub icon">
          </a>
        </article>
      </div>
    </div>
    <div class="projects__content">
      <div class="projects__content__images">
        <div>
          <img src="../assets/images/tip1.jpg" alt="tip image">
        </div>
      </div>
      <div class="projects__content__description">
        <h3>Tip Calculator</h3>
        <article>
          <p>Aplicación para validar correctamente datos numéricos y calcular propinas. Muestra mensajes de error.</p>
          <p>Prueba la aplicación aquí:</p>
          <a href="https://tip-calculator-kappa-lime.vercel.app/" target="_blank" rel="noopener noreferrer">
            <img src="../assets/images/enlace.png" alt="Icono de enlace">
          </a>
          <a href="https://github.com/AndresOreVel/tip-calculator.git" target="_blank" rel="noopener noreferrer">
            <img src="../assets/images/github.png" alt="git hub icon">
          </a>
        </article>
      </div>
    </div>
  </div>

  <div class="other__projects">
    <h2>Otros diseños</h2>
    <div class="other__projects__article">
      <article>
        <p>Otros proyectos con distintas interacciones, así como un diseño tanto para dispositivo móvil como para
          escritorio</p>
      </article>
    </div>
    <div class="desings">
      <div class="desings__content">
        <h3>Loop Studio</h3>
        <div class="desings__content__proof">
          <p>Prueba la aplicación aquí:</p>
          <a href="https://loop-studio-beta.vercel.app/" target="_blank" rel="noopener noreferrer">
            <img src="../assets/images/enlace.png" alt="Icono de enlace">
          </a>
        </div>
        <img src="../assets/images/loop1.jpg" alt="">
        <img src="../assets/images/loop2.jpg" alt="">
      </div>
      <div class="desings__content">
        <h3>Room Homepage</h3>
        <div class="desings__content__proof">
          <p>Prueba la aplicación aquí:</p>
          <a href="https://room-homepage-flame-kappa.vercel.app/#" target="_blank" rel="noopener noreferrer">
            <img src="../assets/images/enlace.png" alt="Icono de enlace">
          </a>
        </div>
        <img src="../assets/images/room1.jpg" alt="image of a room style">
        <img src="../assets/images/room3.jpg" alt="image of a room style">
      </div>
    </div>
  </div>

  <div class="contact">
    <h2 class="contact__header">Contáctame</h2>
    <div class="contact__description">
      <div class="contact__description__info__email">
        <img src="../assets/images/icon-email.svg" alt="email icon">
        <p>Email:</p>
        <p>andres_orellana_9&#64;hotmail.com</p>
      </div>
      <div class="contact__description__info__whatsapp">
        <img src="../assets/images/icon-whatsapp.svg" alt="whatsapp icon">
        <p>Whatsapp:</p>
        <p>+34 663257855</p>
      </div>
      <div class="contact__description__info__images">
        <h3>Este sitio está desarrollado con:</h3>
        <div class="contact__description__info__images__icons">
          <img src="../assets/images/html-5.png" alt="hmtl icon">
          <img class="angular" src="../assets/images/angular.png" alt="angular icon">
          <img src="../assets/images/css3.png" alt="ccs3 icon">
          <img src="../assets/images/sass.png" alt="sass icon">
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>