<div class="wrapped">
  <!-- <div class="box header">Header -->
  <!-- <span class="es">Español</span>
    <input type="checkbox" class="check" (click)="language()">
    <span class="en">Inglés</span> -->
  <!-- </div> -->
  <div class="box content">
    <div class="theming">
      <img src="../assets/images/dark.png" alt="background color mode" id="theme-icon" (click)="toggleTheme()">
    </div>
    <div class="personal">
      <div class="second">
        <p>Hola, <img src="../assets/images/wave.png" alt="a hand wave"> soy</p>
        <h2>Andrés Orellana</h2>
        <p>Desarrollador full stack, buscando siempre la innovación.</p>
        <a href="../assets/images/Currículum.pdf" download>Descargar <span>CV</span></a>
      </div>
    </div>
    <div class="myself">
      <img src="../assets/images/foto.jpg" alt="photo">
      <div>
        <p>Quién soy</p>
        <h2>Sobre mí</h2>
        <article>
          <p>Soy una persona autodidacta, responsable y comprometida con mi trabajo.
            Estoy constantemente aprendiendo nuevas tecnologías y herramientas
            para mejorar mis habilidades. Debajo puede ver mis habilidades y tecnologías que uso.
            No dude en ponerse en contacto conmigo si tiene alguna pregunta.</p>
        </article>
      </div>
    </div>
    <div class="frameworks">
      <div class="second">
        <div class="tecnologies">
          <div class="backend">
            <img src="../assets/images/backend.png" alt="a gourgeous backend image">
            <h3>Backend</h3>
            <div class="lenguages">
              <div>Java</div>
              <div>NodeJS</div>
              <div>PostgreSql</div>
            </div>
          </div>
          <div class="frontend">
            <img src="../assets/images/frontend.png" alt="a beautiful frontend image">
            <h3>Frontend</h3>
            <div class="lenguages">
              <div>Html5</div>
              <div>Css3</div>
              <div>Angular</div>
              <div>TypeScript</div>
            </div>
          </div>
        </div>
        <div class="tools">
          <div class="config">
            <img src="../assets/images/tools.png" alt="an image of a tool">
            <h3>Herramientas</h3>
            <div class="lenguages">
              <div>GitHub</div>
              <div>PrimeNg</div>
              <div>Npm</div>
              <div>ThunderClient</div>
              <div>Stripe</div>
            </div>
          </div>
        </div>
        <div class="projects">
          <h2>Mis proyectos</h2>
          <span></span>
          <h3>Mobile Commerce</h3>
          <article>
            <p>Web app que consume una API REST, permitiendo a los usuarios buscar dispositivos, ver sus descripciones y 
              realizar compras online de forma segura utilizando Stripe para el procesamiento de pagos.
              Adicionalmente se generan estadísticas en cada proceso de compra.</p>
          </article>
          <div class="proyectos">
            <img src="../assets/images/Imagen1.jpg" alt="a project image">
            <img src="../assets/images/Imagen3.jpg" alt="a project image">
          </div>
        </div>
        <div class="personal">
          <div class="second">
            <h2>Contáctame</h2>
            <div class="display">
              <div class="contact">
                <img src="../assets/images/icon-email.svg" alt="email icon">
                <p>Email:</p>
                <p>andres_orellana_9&#64;hotmail.com</p>
              </div>
              <div class="contact">
                <img src="../assets/images/icon-whatsapp.svg" alt="whatsapp icon">
                <p>Whatsapp:</p>
                <p>+34 663257855</p>
              </div>
              <div class="imagenes">
                <h3>Este sitio está desarrollado con:</h3>
                <div class="icons">
                  <img src="../assets/images/html-5.png" alt="hmtl icon">
                  <img src="../assets/images/angular.png" alt="angular icon">
                  <img src="../assets/images/css3.png" alt="ccs3 icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="box footer">Footer</div> -->
</div>
<router-outlet></router-outlet>