/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
   --Poppins-font: "Poppins", sans-serif; 
    --Montserrat-font: "Montserrat", serif;
}

html, body{
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}


/* Tema claro */
.light-theme {
    --background-color: #fff;
    --text-color: #000;
    --link-color: #1a73e8;
  }
  
  /* Tema oscuro */
  .dark-theme {
    --background-color: #121212;
    --text-color: #e1e1e1;
    --link-color: #bb86fc;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  a {
    color: var(--link-color);
  }

  h1, h2, h3, p{
    color: var(--text-color);
  }

  img{
    filter: brightness(.8) contrast(1.2);
  }
  